<!--| Nav Bar |-->
<app-tabs tab="home"></app-tabs>
<!--| Cadastra Forms |-->
<div class="main mt-4 ml-6 mr-6">
    <form class="m-6" [formGroup]="formReceita" (submit)="salvarReceita()">

        <!--| Topic Text |-->
        <h2 class="title">Cadastrar Receita</h2>

        <!--| Name |-->
        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input
              [ngClass]="{
                'input': true,
                'is-success': nome.valid && nome.value != null,
                'is-danger': !nome.valid && nome.value != null
                }"
              type="text" [formControlName]="'nome'">
          </div>
        </div>

        <!--| ETA (minutes) |-->
        <div class="field">
          <label class="label">Tempo Médio (minutos)</label>
          <div class="control">
            <input
              [ngClass]="{
                'input': true,
                'is-success': minutos_preparo.valid && minutos_preparo.value != null,
                'is-danger': !minutos_preparo.valid && minutos_preparo.value != null
                }"
              type="number" formControlName="minutos_preparo">
          </div>
        </div>

        <!--| How To |-->
        <div class="field">
          <label class="label">Modo de Preparo</label>
          <div class="control">
            <textarea
              [ngClass]="{
                'input': true,
                'is-success': modo_preparo.valid && modo_preparo.value != null,
                'is-danger': !modo_preparo.valid && modo_preparo.value != null
                }"
              type="text" formControlName="modo_preparo"></textarea>
          </div>
        </div>

        <!--| Season of the Year |-->
        <div class="field">
          <label class="label">Estação do Ano</label>
          <div class="control">
            <input
              [ngClass]="{
                    'input': true,
                    'is-success': estacao_ano.valid && estacao_ano.value != null,
                    'is-danger': !estacao_ano.valid && estacao_ano.value != null
                    }"
              type="text" formControlName="estacao_ano">
          </div>
        </div>

        <!--| Ingredients |-->
        <div class="field">
            <label class="label">Ingredientes</label>
            <div class="control" *ngIf="ingredientes">
                <select class="input" (change)="addIngrediente()" [formControlName]="'ingredientes'">
                    <option></option>
                    <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente._id">
                      {{ingrediente.nome + " - " + ingrediente.quantidade + " " + ingrediente.unidade}}
                    </option>
                </select>
            </div>
        </div>
        <div class="content" *ngIf="ingredientesReceita.length > 0">
          <table>
            <thead>
              <tr>
                <th>Ingredientes Selecionados</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredienteReceita of ingredientesReceita">
                <td>{{ingredienteReceita.nome + " - " + ingredienteReceita.quantidade + " " + ingredienteReceita.unidade}}</td>
                <td class="is-justify-content-end">
                  <button type="button" class="button is-danger is-small" (click)="excluirIngredienteDaReceita(ingredienteReceita)">Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--| Submit Btn |-->
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link js-modal-trigger" data-target="modal-sucess">Salvar</button>
          </div>
        </div>
        <!-- Alerta de sucesso -->
        <div id="modal-sucess" class="modal">
          <div class="modal-background"></div>
        
          <div class="modal-content">
            <div class="box">
              <p>Modal JS example</p>
              <!-- Your content -->
            </div>
          </div>
        
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </form>
</div>
