<!--| Nav Bar |-->
<app-tabs tab="home"></app-tabs>

<!--| Section Text |-->
<div class="columns mt-4 ml-6 mr-6">
  <div class="column">
    <h1 class="title">Receitas</h1>
  </div>
</div>

<!--| Cadastra Forms |-->
<div class="main mt-4 ml-6 mr-6">
    <form class="m-6" [formGroup]="formReceita" (submit)="salvarReceita()">
        
        <!--| Topic Text |-->
        <h2 class="title">Cadastrar Receita</h2>

        <!--| Name |-->
        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input
              [ngClass]="{
                'input': true,
                'is-success': nome.valid && nome.value != null,
                'is-danger': !nome.valid && nome.value != null
                }"
              type="text" formControlName="nome">
          </div>
        </div>

        <!--| ETA (minutes) |-->
        <div class="field">
          <label class="label">Tempo Médio (minutos)</label>
          <div class="control">
            <input
              [ngClass]="{
                'input': true,
                'is-success': minutos_preparo.valid && minutos_preparo.value != null,
                'is-danger': !minutos_preparo.valid && minutos_preparo.value != null
                }"
              type="number" formControlName="minutos_preparo">
          </div>
        </div>

        <!--| How To |-->
        <div class="field">
          <label class="label">Modo de Preparo</label>
          <div class="control">
            <textarea
              [ngClass]="{
                'input': true,
                'is-success': modo_preparo.valid && modo_preparo.value != null,
                'is-danger': !modo_preparo.valid && modo_preparo.value != null
                }"
              type="text" formControlName="modo_preparo"></textarea>
          </div>
        </div>

        <!--| Ingredients |-->
        <div class="field">
            <label class="label">Ingredientes</label>
            <div class="control">
                <label>Qtde: </label>
                <input [(ngModel)]="this.qtdIngrediente" [ngClass]="{
                  'input': true,
                  'is-success': estacao_ano.valid && estacao_ano.value != null,
                  'is-danger': !estacao_ano.valid && estacao_ano.value != null
                  } + ' qtdIngrediente'" type="number" formControlName="estacao_ano">
                
                <label>Opções: </label>
                <select (change)="mudaIngrediente($event)">
                    <option *ngFor="let ingrd of this.ingredientesPrepared" [value]="ingrd">{{ingrd}}</option>
                </select> <button (click)="adicionaIngredienteReceita()">✓</button>
                  
                <div class="showIngredientContainer" *ngIf="this.ingredientesSelecionados">
                    <div class="ingredientsContainer" *ngFor="let ingrediente of this.ingredientesSelecionados">

                        <div class="ingredientContainer">
                            <span class="ingredientName">
                                {{ingrediente.nome}}
                            </span>
                            <button class="removeIngredientBtn" (click)="removeIngredienteReceita(ingrediente.nome)">
                                X
                            </button>
                        </div>
                    </div>
                </div>
            
            </div>
          </div>

        <!--| Season of the Year |-->
        <div class="field">
            <label class="label">Estação do Ano</label>
            <div class="control">
              <input
                [ngClass]="{
                  'input': true,
                  'is-success': estacao_ano.valid && estacao_ano.value != null,
                  'is-danger': !estacao_ano.valid && estacao_ano.value != null
                  }"
                type="text" formControlName="estacao_ano">
            </div>
        </div>

        <!--| Submit Btn |-->
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Salvar</button>
          </div>
        </div>
    </form>
</div>